<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="index.html" method="post">
      <div>
        <label for="titulo">Titulo: </label>
        <input type="text" name="titulo" id="titulo" placeholder="coloque o titulo do livro">

        <label for="preco">Preco: </label>
        <input type="text" name="preco" id="preco" placeholder="coloque o preco do livro">

        <label for="descricao">Descricao: </label>
        <textarea name="titulo" id="titulo" placeholder="Fale um pouco sobre o livro"></textarea>

        <button type="submit" name="button"> Enviar</button>
      </div>
    </form>

  </body>
</html>
